# ignore everything that's not specifically excluded below
/*

!gradle
!project_resources
!releases
!src
!code_format
!libs

!.gitignore
!.gitattributes
!build.gradle
!gradle.properties
!gradlew
!gradlew.bat
!LICENSE.txt
!README.md
!.travis.yml