/build
/bin
/runtime
/logs
/.gradle
/eclipse
/gradle/
/libs/
/.settings
/.classpath
/.metadata
/.idea
*.iml

/src/main/java/ftb/
/src/main/java/latmod/
/src/main/resources/assets/ftbl/
/src/main/resources/assets/ftbu/
