#Ancient Warfare Access Transformer Configuration
#NPC path finding
#protected net.minecraft.pathfinding.PathFinder field_75863_g #isPathingInWater
#protected net.minecraft.pathfinding.PathNavigate func_75485_k()Z #canNavigate
#protected net.minecraft.pathfinding.PathNavigate func_75483_a(IIIIIILnet.minecraft.util.Vec3;DD)Z #isSafeToStandAt
#protected net.minecraft.pathfinding.PathNavigate func_75496_b(IIIIIILnet.minecraft.util.Vec3;DD)Z #isPositionClear
#protected net.minecraft.pathfinding.PathNavigate field_75513_b#world
#protected net.minecraft.entity.EntityLiving field_70699_by#navigator
# required for pathing improvements by CosmicDan
#protected net.minecraft.pathfinding.PathFinder func_75857_a(Lnet/minecraft/entity/Entity;DDDF)Lnet/minecraft/pathfinding/PathEntity; #createEntityPathTo
#protected net.minecraft.pathfinding.PathFinder field_75866_b #path
#protected net.minecraft.pathfinding.PathFinder field_75867_c #pointmap
#protected net.minecraft.pathfinding.PathFinder field_75869_h #canEntityDrown
#protected net.minecraft.pathfinding.PathFinder field_75868_a #worldMap
#protected net.minecraft.pathfinding.PathFinder func_75861_a(Lnet/minecraft/entity/Entity;Lnet/minecraft/pathfinding/PathPoint;Lnet/minecraft/pathfinding/PathPoint;Lnet/minecraft/pathfinding/PathPoint;F)Lnet/minecraft/pathfinding/PathEntity; #addToPath
# required for mob-ai injections
#public net.minecraft.entity.ai.EntityAIAttackOnCollide field_75444_h #classTarget
#public net.minecraft.entity.ai.EntityAINearestAttackableTarget field_75307_b #targetClass