name: Mod Build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Gradle
      run: |
        ./gradlew clean
        ./gradlew setupCIWorkspace
        ./gradlew build
    - name: Publish to Github Packages
      env:
        GPR_USER: ${{ secrets.GPR_USER }}
        GPR_API_KEY: ${{ secrets.GPR_TOKEN }}
      run: ./gradlew build publish
    - name: Code Quality
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: ./gradlew -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=${{ secrets.SONAR_TOKEN }} -Dsonar.organization=p3pp3rf1y-github sonarqube
      
